name: cnapy
channels:
  - cnapy
  - conda-forge
  - defaults
  - Gurobi
  - IBMDecisionOptimization
dependencies:
  - pytest=7.2
  - pylint=2.15
  - autopep8=2.0
  - pydantic=1.10
  - matplotlib-base=3.6
  - pip=22
  - python=3.8
  - qtpy=2.3
  - pyqtwebengine=5.15
  - appdirs=1.4
  - cobra>=0.26.3
  - qtconsole=5.4
  - requests=2.28
  - psutil=5.9
  - efmtool_link=0.0.4
  - optlang_enumerator>=0.0.9
  - straindesign>=1.9
  - nest-asyncio
  - gurobi
  - cplex
  - numpy=1.23
  - openpyxl
